@font-face {
	font-family: "times";
	src: url("fonts/times new roman.ttf");
}

@font-face {
	font-family: "black";
	src: url("fonts/Rounds Black.otf");
}

@font-face {
	font-family: "fredoka";
	src: url("fonts/FredokaOne-Regular.ttf");
}

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;

	background-color: #2a2834;
	color: #ffedcc;
}

body {
	position: absolute;
	z-index: -2;
}

#title {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 30px;

	width: var(--W);
	height: var(--H);
}

#slide {
	position: fixed;
	z-index: -1;
	top: 0;
	left: 0;

	display: flex;
	width: 100%;
	height: 100%;
}

#left, #right {
	width: 100%;
	flex-shrink: 0;
}

#slide img {
	width: 100%;
}

#slide-cover {
	position: relative;
	width: var(--W);
	height: 300px;
	top: 0;
	left: 0;
	transform: translate(calc(0px - var(--margin)), calc(-50px - 100%));

	background-image: linear-gradient(rgba(0, 0, 0, 0), #2a2834);
}

#bank {
	display: none;
}

h1, h2 {
	margin: 0;

	text-align: center;
	font-weight: 100;
}

h1 {
	filter: drop-shadow(0 0 20px black);

	font-family: "black";
	font-size: 100px;
}

h2 {
	filter: drop-shadow(0 0 5px black);

	font-family: "times";
	font-size: 40px;
}

#menu {
	filter: drop-shadow(0 0 5px black);

	position: fixed;
	top: 0;
	right: 0;

	display: flex;
	gap: 40px;

	margin: 40px;
}

#menu>a {
	display: block;

	font-family: "black";
	font-size: 20px;

	color: white;
	text-decoration: none;
}

#menu>a::after {
	position: relative;
	display: block;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%);

	transition: 0.25s width ease-out;
	content: "";
	border-bottom: 2px solid white;
	width: 20%;
}

#menu>a:hover::after {
	width: 80%;
}

#menu>a:active::after {
	width: 100%;
}

#main {
	position: absolute;

	width: calc(100% - calc(var(--margin) * 2));
	min-height: var(--H);
	padding: 50px var(--margin);

	background-color: #2a2834;
}

.lighter {
	width: calc(100% + calc(var(--margin) * 2));
	margin: 70px 0;
	padding: 80px 0;
	transform: translateX(calc(0px - var(--margin)));

	background-color: #3a3748;
}

h3, h4 {
	font-family: "black";
	font-size: 40px;
	text-align: center;
}

h3 {
	margin: -250px 0 100px 0;
}

h4 {
	margin: 0;
}

#main div.flex {
	display: flex;
	justify-content: center;
	align-items: center;

	gap: 60px;
}

p {
	color: #c7c5d3;
	font-family: "fredoka";
	font-size: 24px;
}

p.right {
	text-align: right;
}

#main div.flex>img {
	height: 400px;
	flex-shrink: 0;

	border-radius: 15px;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
}

div.line {
	margin: 30px 20%;
	border-bottom: 1px solid #696482;
}

a.button {
	transition: 0.15s border-radius ease-out, 0.07s background-color linear;

	margin-top: 70px;
	padding: 15px 50px;

	border-radius: 30px;
	background-color: #c9c7d3;
	color: #2a2834;

	font-family: "black";
	font-size: 24px;
	text-align: center;
	text-decoration: none;
}

a.button:hover {
	border-radius: 20px;
	background-color: #e3e2e9;
}

#margin {
	height: 150px;
}
